.dpmsg-Content {

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p,
  & ol,
  & ul,
  & li,
  & dl,
  & dd,
  & dt,
  & figure,
  & fieldset,
  & legend,
  & textarea,
  & pre,
  & iframe,
  & hr {
    margin: 0;
    padding: 0;
  }

  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-size: 100%;
    font-weight: normal;
  }

  & button, & input, & select, & textarea {
    margin: 0;
  }

  & img, & audio, & video {
    height: auto;
    max-width: 100%;
  }

  & iframe {
    border: none;
  }

  & table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  & td, & th {
    padding: 0;
    text-align: left;
  }

  & h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    &:not(:first-child) { margin-top: 1em; }
  }

  & h2 {
    font-size: 1.75em;
    margin-bottom: 0.5714em;
    &:not(:first-child) { margin-top: 1.1428em; }
  }

  & h3 {
    font-size: 1.5em;
    margin-bottom: 0.6666em;
    &:not(:first-child) { margin-top: 1.3333em; }
  }

  & h4 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
  }

  & h5 {
    font-size: 1.125em;
    margin-bottom: 0.8888em;
  }

  & h5 {
    font-size: 1em;
    margin-bottom: 1em;
  }

  & a {
    color: var(--link-color);

    &:hover {
      color: var(--link-hover-color);
    }
  }

  & p, & dl, & ol, & ul, & blockquote, & pre, & table {
    &:not(:last-child) { margin-bottom: 1em; }
  }

  & blockquote {
    background-color: var(--gray-100);
    border-left: 3px solid color-mod(var(--gray-100) blackness(20%));
    padding: 1.25em 1.53em;
  }

  & ol, & ul {
    margin-left: 2em;
    margin-top: 1em;
  }

  & ol { list-style: decimal outside; }

  & ul {
    list-style: disc outside;

    & ul {
      list-style-type: circle;
      margin-top: 0.5em;

      & ul {
        list-style-type: square;
      }
    }
  }

  li + li {
    margin-top: 0.25em;
  }

  & dd { margin-left: 2em; }

  & pre {
    overflow-x: auto;
    padding: 1.25em 1.5em;
    white-space: pre;
    word-wrap: normal;
  }
}
