#dp-messenger-setup {
    padding: 8px;
    display: flex;
}

#dp-messenger-setup .dp-input--toggle label:before {
    top: 2px
}

#dp-messenger-setup .dp-input--toggle label:after {
    top: 3px
}

.dp-ms-container {
    width: 35%;
    min-width: 550px;
    background-color: white;
    height: 100%;
    min-height: 100%;
    padding: 10px;
}
.dp-ms-container  input:not([type=checkbox]) {
    width: 100%;
}
.dp-ms-container .dp-input {
    width: 100%;
}
.dp-ms-container .dp-input.small {
    width: 50px;
}

.dp-ms-chat_field_wrapper {
    display: flex;
    margin-bottom: 5px;
}

.dp-ms-chat_field_wrapper .dp-ms-chat_field_enabled_wrapper {
    padding: 10px 0 0 10px;
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    min-width: 200px;
}

.dp-ms-chat_field_wrapper .dp-ms-chat_field_enabled_wrapper i.fas.fa-bars{
    cursor: move;
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 18px;
    color: #ccc;
}

.dp-ms-chat_field_wrapper .dp-ms-chat_field_required_wrapper {
    padding: 10px 0 0 10px;
}

.dp-ms-chat_brand_message {
    margin-top: 15px;
    width: 100%;
}

.dp-ms-chat_brand_message textarea{
    min-height: 40px;
}

.dp-ms-section-header, .dp-ms-section {
    background-color: white;
}

.dp-ms-section {
    padding: 10px 20px !important;
}

.dp-ms-hint {
    padding: 10px;
    font-size: 10px;
    color: #8b9293;
}

.dp-ms-children {
    margin-top: 10px;
}

.dp-ms-preview-container {
    background-color: white;
    padding: 10px;
    width: 65%;
}

.dp-ms-preview {
    border: 1px solid #8b9293;
    border-radius: 4px;
    height: 100%;
    padding: 10px;
}
