#dp-messenger-setup {
    padding: 8px;
    display: flex;
}

#dp-messenger-setup .dp-input--toggle label:before {
    top: 2px
}

#dp-messenger-setup .dp-input--toggle label:after {
    top: 3px
}

.dp-ms-position-separator {
    display: inline-block;
    height: 35px;
    margin: 0 50px;
}

.dp-ms-container {
    width: 35%;
    min-width: 550px;
    background-color: white;
    height: 100%;
    min-height: 100%;
    padding: 10px;
}
.dp-ms-container .dp-section {
    padding-top: 0;
}
.dp-ms-container  input:not([type=checkbox]) {
    width: 100%;
}

.dp-ms-container .dp-input {
    width: 100%;
}

.dp-input.dp-input--with-prefix input, .dp-input.dp-input--with-suffix input {
    width: initial;
}

.dp-ms-container .dp-input.small {
    width: 50px;
}

.dp-ms-chat_field_wrapper {
    display: flex;
    margin-bottom: 5px;
}

.dp-ms-chat_field_wrapper .dp-ms-chat_field_enabled_wrapper {
    padding: 10px 0 0 10px;
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    min-width: 200px;
}

.dp-ms-chat_field_wrapper .dp-ms-chat_field_enabled_wrapper i.fas.fa-bars{
    cursor: move;
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 18px;
    color: #ccc;
}

.dp-ms-chat_field_wrapper .dp-ms-chat_field_required_wrapper {
    padding: 10px 0 0 10px;
}

.dp-ms-chat_form_message {
    margin-top: 15px;
    width: 100%;
}

.dp-ms-chat_form_message textarea{
    min-height: 40px;
}

.dp-ms-section-header, .dp-ms-section {
    background-color: white;
}

.dp-ms-section.dp-ms-no-bottom-margin {
    margin-bottom: 0;
}

.dp-ms-section.dp-ms-no-top-margin {
    margin-top: 0;
}

.dp-column-drawer .dp-ms-section .dp-ms-subheading_inner {
    margin: 15px 0;
    padding: 0;
}

.dp-ms-section {
    padding: 0 20px !important;
    margin: 5px 0 20px 0;
}

.dp-ms-hint {
    padding: 5px 10px 10px 10px;
    font-size: 10px;
    color: #8b9293;
}

.dp-ms-children {
    margin-top: 10px;
}

.dp-ms-preview-container {
    background-color: white;
    padding: 10px;
    width: 65%;
}

.dp-ms-preview {
    border: 1px solid #8b9293;
    border-radius: 4px;
    height: 100%;
    padding: 10px;
}

.dp-subheading.hidden {
    display: none;
}
.dp-form-group.hidden {
    display: none;
}

.dp-ms-widget-styles {
    display: flex;
    flex-wrap: wrap;
}

.dp-ms-widget-styles input {
    display: none;
}

.dp-ms-widget-style {
    flex: 1 0 26%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid transparent;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
}
.dp-ms-widget-style img {
    max-width: 100%;
    opacity: 0.8;
    align-self: flex-end;
}
.dp-ms-widget-styles input:disabled+label img {
    filter: grayscale(100%);
}
.dp-ms-widget-styles input:disabled+label {
    cursor: not-allowed;
}
.dp-ms-widget-styles input:checked+label {
    border-color: #4696dc;
}
.dp-ms-widget-styles input:checked+label img {
    opacity: 1;
}

.dp-ms-widget-logo, .dp-ms-widget-logo:hover {
    color: #4c4f50;
    text-decoration: none;
}

.dp-ms-widget-logo img {
    border: 1px solid #4c4f50;
    height: 60px;
    margin: 0 10px 10px 0;
    padding: 5px;
}
