.widget-toggler--button {
  width: 150px;
  align-self: flex-end;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
  font-size: 14px;
  outline: none;
  background-color: #ddd
}

.widget-window--container {
  height: 300px;
  width: 200px;
}