.messenger-toggler--button {
  align-self: flex-end;
  background-color: #ddd;
  border: 1px solid;
  border-radius: 2px;
  font-size: 14px;
  outline: none;
  padding: 5px;
  width: 150px;
}

.messenger-window--container {
  height: 300px;
  width: 200px;
}
