.dpmsg-WrapGreetings {
  display: block;
}

.dpmsg-WrapGreetings .dpmsg-Button {
  display: block;
  margin: var(--xs-space) 0 var(--xs-space) auto;
  padding: 6px 1.3rem;
}

.dpmsg-GreetingsBubbleTime {
  color: var(--gray-300);
  display: block;
  font-size: var(--h4);
  padding-top: var(--xs-space);
  text-transform: uppercase;
}

.dpmsg-GreetingsBubble {
  display: block;
}

.dpmsg-GreetingsBubbleRow {
  display: flex;
  margin-bottom: var(--xs-space);
}

.dpmsg-GreetingsAvatarCol {
  flex: 0 0 35px;
}

.dpmsg-GreetingsAvatarCol img {
  margin-top: 4px;
  max-width: 27px;
}

.dpmsg-GreetingsBubbleCol {
  display: block;
  width: 100%;
}

.dpmsg-GreetingsBubbleItem {
  background-color: #f8fafc;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--gray-500);
  display: block;
  font-size: var(--h1);
  letter-spacing: 0.4px;
  margin-bottom: var(--xs-space);
  padding: var(--xs-space) var(--sm-space);
}

.dpmsg-WrapGreetingsArea {
  background-color: #fff;
  border: var(--border);
  display: block;
  padding: var(--xs-space) var(--sm-space) var(--xs-space) var(--xs-space);
}

.dpmsg-GreetingsArea {
  background-color: #fff;
  border: none;
  color: var(--gray-500);
  cursor: text;
  display: block;
  font-size: var(--h1);
  max-height: 170px;
  overflow-x: auto;
  padding-left: 0;
  resize: none;
  white-space: pre;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}

.dpmsg-GreetingsArea[placeholder]:empty::before {
  color: #555;
  content: attr(placeholder);
}

.dpmsg-GreetingsArea[placeholder]:empty:focus::before {
  content: "";
}

.dpmsg-GreetingsActions {
  align-items: center;
  margin-top: var(--sm-space);
}

.dpmsg-GreetingsActions .dpmsg-LevelLeft [class*="dpmsg-Icon"] {
  margin-right: 17px;
}

.dpmsg-GreetingsActions [class*="dpmsg-Icon"] {
  cursor: pointer;
}
