.dpmsg-Block {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px 1px rgba(51, 51, 62, 0.1);
  display: block;
  padding: var(--space);
  position: relative;
}

.dpmsg-BlockWrapper {
  display: block;
  position: relative;
}

.dpmsg-BlockHeader {
  color: var(--gray-500);
  display: flex;
  font-size: 15px;
  letter-spacing: 0.4px;
  margin-bottom: var(--sm-space);
  padding-bottom: 10px;
  position: relative;
}

.dpmsg-BlockHeader span {
  color: var(--gray-500);
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.4px;
}

.dpmsg-BlockHeader::after {
  background-color: var(--color-primary);
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.dpmsg-BlockText {
  color: #5f768a;
  display: block;
  font-size: var(--h1);
  margin-bottom: 15px;
  max-width: 220px;
}
