.fr-box.fr-basic.fr-bottom .fr-wrapper {
  background-color: #fff;
  border: none;
  box-shadow: none;
  border-top: 2px solid var(--blue);
  display: block;
}

.fr-box.fr-basic .fr-element {
  color: var(--gray-500);
  font-size: var(--h1);
  max-height: 170px;
  padding: var(--sm-space);
  padding-left: 0;
  cursor: text;
  resize: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

.fr-toolbar.fr-bottom {
  border: none;
  box-shadow: none;
}

.fr-toolbar .fr-command.fr-btn {
  border: none;
  outline: none;
  width: auto;
  height: auto;
}

.fr-toolbar .fr-command:hover {
  background-color: transparent;
}

.fr-toolbar .fr-command.fr-btn i {
  font-size: .875rem;
  margin: 0 17px 0 0;
  width: 22px;
  line-height: 1.2;
  cursor: inherit;
}

.fr-toolbar .fr-command.fr-btn[data-cmd="sendMessage"] {
  float: right;
}

.fr-toolbar .fr-command.fr-btn[data-cmd="sendMessage"] i {
  margin-right: 0;
}