.dpmsg-ColorSwatchGrid {
  display: flex;
  flex-wrap: wrap;
}

.dpmsg-ColorSwatchItem {
  border-radius: 3px;
  flex-shrink: 0;
  height: 100px;
  margin: 6px;
  padding: 0.3em;
  width: 100px;

  & .ColorSwatchItemTitle {
    display: block;
  }

  & .ColorSwatchItemValue {
    display: block;
    font-size: 0.8em;
  }

  &.ColorSwatchItem--primary {
    background-color: var(--color-primary);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--color-primary));
    }
  }

  &.ColorSwatchItem--secondary {
    background-color: var(--color-secondary);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--color-secondary));
    }
  }

  &.ColorSwatchItem--success {
    background-color: var(--color-success);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--color-success));
    }
  }

  &.ColorSwatchItem--info {
    background-color: var(--color-info);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--color-info));
    }
  }

  &.ColorSwatchItem--warning {
    background-color: var(--color-warning);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--color-warning));
    }
  }

  &.ColorSwatchItem--danger {
    background-color: var(--color-danger);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--color-danger));
    }
  }

  &.ColorSwatchItem--gray-100 {
    background-color: var(--gray-100);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--gray-100));
    }
  }

  &.ColorSwatchItem--gray-200 {
    background-color: var(--gray-200);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--gray-200));
    }
  }

  &.ColorSwatchItem--gray-300 {
    background-color: var(--gray-300);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--gray-300));
    }
  }

  &.ColorSwatchItem--gray-400 {
    background-color: var(--gray-400);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--gray-400));
    }
  }

  &.ColorSwatchItem--gray-500 {
    background-color: var(--gray-500);

    & .ColorSwatchItemTitle, & .ColorSwatchItemValue {
      color: contrast(var(--gray-500));
    }
  }
}
