.frame-root {
  bottom: 0;
  position: absolute;
  right: 0;
}

.dpmsg-TriggerBtn {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  display: flex;
  font-size: var(--p1);
  height: 5.2em;
  justify-content: center;
  margin-bottom: 8px;
  margin-right: 8px;
  position: relative;
  width: 5.2em;
}

.dpmsg-TriggerBtn img {
  border-radius: 50%;
  overflow: hidden;
}

.dpmsg-TriggerBtn * {
  cursor: pointer;
}

.dpmsg-TriggerBtn .dpmsg-IconBadge {
  font-size: 1.4em;
  position: absolute;
  right: -0.2em;
  top: -0.2em;
}

.dpmsg-TriggerBtn {
  align-items: center;
  background-image: none;
  box-shadow: 0 5px 8px 1px rgba(51, 51, 62, 0.3);
  display: flex;
  font-size: var(--p1);
  height: 5.2em;
  justify-content: center;
  width: 5.2em;

  &.is-blue {
    background-color: var(--color-primary);

    &:hover {
      filter: grayscale(50%);
      transition: var(--animation-speed);
    }
  }
}

.dpmsg-TriggerBtn .dpmsg-Icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  font-size: inherit;
  height: 3.6em;
  width: 3.6em;
}

.dpmsg-TriggerBtn .dpmsg-IconChat {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96 99" style="enable-background:new 0 0 96 99;" xml:space="preserve"><style type="text/css">.st0{fill:%23FFFFFF;}</style><g><path class="st0" d="M48,4.8c-23.4,0-42.4,19-42.4,42.4c0,5.3,1,10.5,2.9,15.4c1.5,4,3.7,7.7,6.4,11.1L8.7,88.4c-0.3,0.7-0.2,1.5,0.3,2c0.4,0.5,1,0.8,1.6,0.8c0.1,0,0.2,0,0.3,0l22.9-4c4.6,1.6,9.4,2.5,14.2,2.5c23.4,0,42.4-19,42.4-42.4S71.4,4.8,48,4.8z M48,85.6c-4.5,0-9-0.8-13.3-2.4c-0.3-0.1-0.7-0.2-1-0.1l-19.8,3.5l5.3-12.4c0.3-0.7,0.2-1.5-0.3-2.1c-2.8-3.3-5-7-6.5-10.9c-1.7-4.5-2.6-9.2-2.6-14C9.6,26,26.8,8.8,48,8.8S86.4,26,86.4,47.2S69.2,85.6,48,85.6z"/><circle class="st0" cx="32.8" cy="48" r="4.6"/><circle class="st0" cx="48" cy="48" r="4.6"/><circle class="st0" cx="63.2" cy="48" r="4.6"/></g></svg>');
}

.dpmsg-TriggerBtn .dpmsg-IconClose {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="16px" viewBox="0 0 17 16" version="1.1"><g id="Cookie-Notification" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"><g id="Homepage_desktop---COOKIES---APPROVED" transform="translate(-1012.000000, -14.000000)" stroke="%23FFFFFF" stroke-width="2"><g id="icon-close" transform="translate(1013.000000, 15.000000)"><path d="M0.75,0.75 L13.6970074,13.6970074" id="Line-2"/><path d="M0.75,0.75 L13.6970074,13.6970074" id="Line-2" transform="translate(7.500000, 7.500000) scale(-1, 1) translate(-7.500000, -7.500000) "/></g></g></g></svg>');
  height: 2em;
  width: 2em;
}
